[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Webscarab
Comment=Framework for analysing applications that communicate using the HTTP and HTTPS protocols
Exec=webscarab
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultProxy;ArchAssaultScanner;ArchAssaultFuzzer;
