[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Python2-pydeep
Comment=This is the Python interface to ssdeep.
Exec=python2-pydeep
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
