[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tsh-sctp
Comment=An open-source UNIX backdoor
Exec=tsh-sctp
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
