[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Zarp
Comment=A network attack tool centered around the exploitation of local networks.
Exec=zarp
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultNetworking;ArchAssaultExploitation;
