[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Spiderpig-pdffuzzer
Comment=A javascript pdf fuzzer
Exec=spiderpig-pdffuzzer
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;
