[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Passcracking
Comment=A little python script for sending hashes to passcracking.com and milw0rm
Exec=passcracking
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
