[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Arpalert
Comment=Monitor ARP changes in ethernet networks.
Exec=arpalert
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultDefensive;
