[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Arpalert
Comment=Monitor ARP changes in ethernet networks.
Exec=arpalert
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeDefensive;
