[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Snort
Comment=A lightweight network intrusion detection system.
Exec=snort
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeNetworking;ArchStrikeScanner;ArchStrikeAutomation;
