[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Owtf
Comment=The Offensive (Web) Testing Framework
Exec=owtf
Icon=archstrike-menu.png
Terminal=true
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;
