[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Aeskeyfind
Comment=A tool to find AES key in RAM
Exec=aeskeyfind
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;ArchStrikeCracker;
