[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Http-put
Comment=Simple http put perl script
Exec=http-put
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
