[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Cryptohazemultiforcer
Comment=High performance multihash brute forcer with CUDA support
Exec=cryptohazemultiforcer
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
