[Desktop Entry]
Name=Angry IP Scanner
Type=Application
Comment=Fast host and port scanner
Exec=ipscan
TryExec=ipscan
Icon=projectname-menu.png
Categories=Application;Network
