[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Braa
Comment=A mass snmp scanner
Exec=braa
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
