[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Klogger
Comment=A keystroke logger for the NT-series of Windows.
Exec=klogger
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWindows;
