[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Klogger
Comment=A keystroke logger for the NT-series of Windows.
Exec=klogger
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWindows;
