[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Powersploit
Comment=A PowerShell Post-Exploitation Framework
Exec=powersploit
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWindows;ArchStrikeExploitation;
