[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wyd
Comment=Gets keywords from personal files. IT security/forensic tool.
Exec=wyd
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;ArchStrikeCracker;
