[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Jbrute
Comment=Open Source Security tool to audit hashed passwords.
Exec=jbrute
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
