[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sshatter
Comment=Password bruteforcer for SSH
Exec=sshatter
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
