[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Icmptx
Comment=IP over ICMP
Exec=icmptx
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeTunnel;
