[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mitmproxy
Comment=SSL-capable man-in-the-middle HTTP proxy
Exec=mitmproxy
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeProxy;ArchStrikeExploitation;
