[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Php-mt-seed
Comment=PHP mt_rand() seed cracker
Exec=php-mt-seed
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
