[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Elettra-gui
Comment=Gui for the elettra crypto application.
Exec=elettra-gui
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeMisc;
