[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Spectools
Comment=Spectrum-Tools is a set of utilities for using the Wi-Spy USB spectrum analyzer hardware. Stable version.
Exec=spectools
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWireless;
