[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Checkpwd
Comment=Oracle Password Checker (Cracker)
Exec=checkpwd
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
