[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Recon-ng
Comment=A full-featured Web Reconnaissance framework written in Python.
Exec=recon-ng
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeRecon;
