[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sbd
Comment=Netcat-clone, portable, offers strong encryption - features AES-128-CBC + HMAC-SHA1 encryption, program execution (-e), choosing source port, continuous reconnection with delay + more
Exec=sbd
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultNetworking;ArchAssaultCrypto;
