[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pscan
Comment=A limited problem scanner for C source files
Exec=pscan
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCodeAudit;
