[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Unicornscan
Comment=A new information gathering and correlation engine.
Exec=unicornscan
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
