[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Peepdf
Comment=A Python tool to explore PDF files in order to find out if the file can be harmful or not
Exec=peepdf
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;ArchAssaultMalware;
