[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Flasm
Comment=Disassembler tool for SWF bytecode
Exec=flasm
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultReversing;ArchAssaultDecompiler;
