[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Cewl
Comment=A custom word list generator
Exec=cewl
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeAutomation;ArchStrikeCracker;
