[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Nimbostratus
Comment=Tools for fingerprinting and exploiting Amazon cloud infrastructures
Exec=nimbostratus
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;
