[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Goog-mail
Comment=Enumerate domain emails from google.
Exec=goog-mail
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeRecon;
