[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sipvicious
Comment=Tools for auditing SIP devices
Exec=sipvicious
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeExploitation;ArchStrikeAutomation;
