[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dradis
Comment=An open source framework to enable effective information sharing.
Exec=dradis
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
