[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Casefile
Comment=The little brother to Maltego without transforms, but combines graph and link analysis to examine links between manually added data to mind map your information
Exec=casefile
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;ArchStrikeRecon;ArchStrikeScanner;
