[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Scanssh
Comment=Fast SSH server and open proxy scanner.
Exec=scanssh
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;
