[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Honeyd
Comment=A small daemon that creates virtual hosts on a network.
Exec=honeyd
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeHoneypot;
