[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Relay-scanner
Comment=SMTP relay scanner
Exec=relay-scanner
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;
