[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Distorm
Comment=The ultimate disassembler (for AMD64, X86-64)
Exec=distorm
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
