[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Firewalk
Comment=An active reconnaissance network security tool
Exec=firewalk
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;ArchStrikeScanner;
