[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bed
Comment=Collection of scripts to test for buffer overflows, format string vulnerabilities.
Exec=bed
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeExploitation;
