[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Middler
Comment=A Man in the Middle tool to demonstrate protocol middling attacks.
Exec=middler
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultNetworking;
