[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Username-anarchy
Comment=Tools for generating usernames when penetration testing
Exec=username-anarchy
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultAutomation;
