[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Snscan
Comment=A Windows based SNMP detection utility that can quickly and accurately identify SNMP enabled devices on a network.
Exec=snscan
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWindows;
