[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Propecia
Comment=A fast class scanner that scans for a specified open port with banner grabbing
Exec=propecia
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;ArchStrikeFingerprint;
