[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Propecia
Comment=A fast class scanner that scans for a specified open port with banner grabbing
Exec=propecia
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;ArchAssaultFingerprint;
