pkg/
src/

*.pkg.tar.*
*.src.tar.*

*~
*.swp
*.tmp

.MTREE
.PKGINFO
.SRCINFO

*.7z
*.bz2
*.bzip
*.deb
*.dmg
*.egg
*.exe
*.gem
*.gz
*.iso
*.jar
*.log
*.lzma
*.part
*.pdf
*.rar
*.rpm
*.sig
*.tar
*.tgz
*.xpi
*.xz
*.zip
