[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pcapsipdump
Comment=pcapsipdump is a tool for dumping SIP sessions (+RTP traffic, if available) to disk in a fashion similar to 'tcpdump -w' (format is exactly the same), but one file per sip session (even if there is thousands of concurrect SIP sessions).
Exec=pcapsipdump
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultVoip;
