[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Goodork
Comment=A python script designed to allow you to leverage the power of google dorking straight from the comfort of your command line.
Exec=goodork
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultRecon;
