[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Netsed
Comment=Small and handful utility design to alter the contents of packets forwarded thru network in real time.
Exec=netsed
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultNetworking;
