[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rinetd
Comment=internet redirection server
Exec=rinetd
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
