[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Magicrescue
Comment=Find and recover deleted files on block devices
Exec=magicrescue
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;
