[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Magicrescue
Comment=Find and recover deleted files on block devices
Exec=magicrescue
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
