[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Subterfuge
Comment=Automated Man-in-the-Middle Attack Framework
Exec=subterfuge
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeExploitation;
