[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hotpatch
Comment=Hot patches executables on Linux using .so file injection
Exec=hotpatch
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeBackdoor;
