[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Inguma
Comment=A free penetration testing and vulnerability discovery toolkit entirely written in python. Framework includes modules to discover hosts, gather information about, fuzz targets, brute force usernames and passwords, exploits, and a disassembler.
Exec=inguma
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;ArchAssaultScanner;ArchAssaultFuzzer;ArchAssaultCracker;ArchAssaultDisassembler;
