[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wifi-monitor
Comment=Prints the IPs on your local network that're sending the most packets
Exec=wifi-monitor
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeSniffer;
