[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Loki
Comment=Python based framework implementing many packet generation and attack modules for Layer 2 and 3 protocols
Exec=loki
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeExploitation;
