[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dc3dd
Comment=A patched version of dd that includes a number of features useful for computer forensics
Exec=dc3dd
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;
