[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fakeap
Comment=Black Alchemy's Fake AP generates thousands of counterfeit 802.11b access points. Hide in plain sight amongst Fake AP's cacophony of beacon frames.
Exec=fakeap
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeHoneypot;
