[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pasco
Comment=Examines the contents of Internet Explorer's cache files for forensic purposes
Exec=pasco
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;
