[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pdgmail
Comment=A password dictionary attack tool that targets windows authentication via the SMB protocol
Exec=pdgmail
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
