[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Voipong
Comment=A utility which detects all Voice Over IP calls on a pipeline, and for those which are G711 encoded, dumps actual conversation to seperate wave files.
Exec=voipong
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultVoip;
