[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pnscan
Comment=A parallel network scanner that can be used to survey TCP network services.
Exec=pnscan
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
