[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Nfcutils
Comment=Provides a simple 'lsnfc' command that list tags which are in your NFC device field
Exec=nfcutils
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeNfc;
