[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Metasploit
Comment=An open source platform that supports vulnerability research, exploit development and the creation of custom security tools representing the largest collection of quality-assured exploits
Exec=metasploit
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;ArchAssaultFuzzer;ArchAssaultScanner;
