[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Webrute
Comment=Web server directory brute forcer.
Exec=webrute
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultScanner;
