[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ollydbg
Comment=A 32-bit assembler-level analysing debugger
Exec=ollydbg
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeDebugger;ArchStrikeWindows;
