[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Webacoo
Comment=Web Backdoor Cookie Script-Kit
Exec=webacoo
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultBackdoor;
