[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Snmpscan
Comment=A free, multi-processes SNMP scanner
Exec=snmpscan
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;
