[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wol-e
Comment=A suite of tools for the Wake on LAN feature of network attached computers
Exec=wol-e
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeNetworking;ArchStrikeMisc;
