[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Haskell-line2pdf
Comment=Simple command-line utility to convert text into PDF
Exec=haskell-line2pdf
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
