[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Btscanner
Comment=Bluetooth device scanner.
Exec=btscanner
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeBluetooth;ArchStrikeScanner;
