[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Weevely
Comment=Stealth tiny web shell
Exec=weevely
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;ArchStrikeBackdoor;
