[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pstoreview
Comment=Lists the contents of the Protected Storage.
Exec=pstoreview
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWindows;
