[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Missidentify
Comment=A program to find Win32 applications
Exec=missidentify
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWindows;ArchAssaultRecon;
