[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hydra
Comment=A very fast network logon cracker which support many different services.
Exec=hydra
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
