[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rtp-flood
Comment=RTP flooder
Exec=rtp-flood
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeVoip;
