[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hexorbase
Comment=A database application designed for administering and auditing multiple database servers simultaneously from a centralized location. It is capable of performing SQL queries and bruteforce attacks against common database servers (MySQL, SQLite, Microsoft SQL Server, Oracle, PostgreSQL).
Exec=hexorbase
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;ArchStrikeScanner;
