[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Cewl
Comment=A custom word list generator
Exec=cewl
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultAutomation;ArchAssaultCracker;
