[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Binwally
Comment=Binary and Directory tree comparison tool using the Fuzzy Hashing concept (ssdeep)
Exec=binwally
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeBinary;
