[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vncrack
Comment=What it looks like: crack VNC.
Exec=vncrack
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
