[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hcraft
Comment=HTTP Vuln Request Crafter
Exec=hcraft
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;
