[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tcpick
Comment=TCP stream sniffer and connection tracker
Exec=tcpick
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultSniffer;
