[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Netcommander
Comment=An easy-to-use arp spoofing tool
Exec=netcommander
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultSpoof;
