[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Netcommander
Comment=An easy-to-use arp spoofing tool
Exec=netcommander
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeSpoof;
