[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Blueprint
Comment=A perl tool to identify Bluetooth devices.
Exec=blueprint
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultBluetooth;
