[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=3proxy
Comment=Tiny free proxy server
Exec=3proxy
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
