[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Htshells
Comment=Self contained web shells and other attacks via .htaccess files.
Exec=htshells
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;
