[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hashdeep
Comment=Advanced checksum hashing tool
Exec=hashdeep
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
