[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Md5deep
Comment=Advanced checksum hashing tool
Exec=md5deep
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
