[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sqlmap
Comment=An automatic SQL injection tool developed in Python
Exec=sqlmap
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;ArchStrikeExploitation;ArchStrikeFuzzer;
