[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=List-urls
Comment=Extracts links from webpage
Exec=list-urls
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeMisc;ArchStrikeWebapp;
