[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Binwalk
Comment=A tool for searching a given binary image for embedded files
Exec=binwalk
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
