[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Obkey
Comment=Openbox Key Editor
Exec=obkey
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;Development;TextEditor;
