[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Chownat
Comment=Allows two peers behind two separate NATs with no port forwarding and no DMZ setup on their routers to directly communicate with each other
Exec=chownat
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultTunnel;
