[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fiked
Comment=Fake IDE daemon
Exec=fiked
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeHoneypot;
