[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Air
Comment=A GUI front-end to dd/dc3dd designed for easily creating forensic images.
Exec=air
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
