[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bladerf
Comment=Driver for bladeRF, allowing general purpose software defined radio (SDR).
Exec=bladerf
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
