[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Afflib
Comment=An extensible open format for the storage of disk images and related forensic information
Exec=afflib
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
