[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ldapenum
Comment=Enumerate domain controllers using LDAP.
Exec=ldapenum
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultRecon;ArchAssaultScanner;
