[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ldapenum
Comment=Enumerate domain controllers using LDAP.
Exec=ldapenum
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeRecon;ArchStrikeScanner;
