[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Netactview
Comment=A graphical network connections viewer for Linux similar in functionality with Netstat
Exec=netactview
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
