[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Redirectpoison
Comment=A tool to poison a targeted issuer of SIP INVITE requests with 301 (i.e. Moved Permanently) redirection responses.
Exec=redirectpoison
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeVoip;
