[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tcpextract
Comment=Extracts files from captured TCP sessions. Support live streams and pcap files.
Exec=tcpextract
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultNetworking;
