[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dirb
Comment=A web content scanner, brute forceing for hidden files
Exec=dirb
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;ArchStrikeWebapp;
