[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Truecrack
Comment=Password cracking for truecrypt(c) volumes.
Exec=truecrack
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
