[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ctunnel
Comment=Tunnel and/or proxy TCP or UDP connections via a cryptographic tunnel.
Exec=ctunnel
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeTunnel;
