[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Flawfinder
Comment=Searches through source code for potential security flaws
Exec=flawfinder
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;ArchStrikeCodeAudit;
