[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fpdns
Comment=Program that remotely determines DNS server versions
Exec=fpdns
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultAnalysis;
