[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Zerowine
Comment=Malware Analysis Tool - research project to dynamically analyze the behavior of malware
Exec=zerowine
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeMalware;ArchStrikeReversing;
