[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dhcpig
Comment=Enumerates hosts, subdomains, and emails from a given domain using google
Exec=dhcpig
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;
