[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Flare
Comment=Flare processes an SWF and extracts all scripts from it.
Exec=flare
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
