[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Httping
Comment=A 'ping'-like tool for http-requests.
Exec=httping
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeNetworking;ArchStrikeRecon;
