[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Http-fuzz
Comment=A simple http fuzzer.
Exec=http-fuzz
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;
