[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Magictree
Comment=A penetration tester productivity tool designed to allow easy and straightforward data consolidation, querying, external command execution and report generation
Exec=magictree
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultThreatModel;
