[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Metagoofil
Comment=An information gathering tool designed for extracting metadata of public documents
Exec=metagoofil
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeRecon;
