[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pdfcrack
Comment=Password recovery tool for PDF-files.
Exec=pdfcrack
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
