[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Gooscan
Comment=A tool that automates queries against Google search appliances, but with a twist.
Exec=gooscan
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultAutomation;
