[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Thc-pptp-bruter
Comment=pptp-bruter is a brute force program that works against pptp vpn endpoints (tcp port 1723).
Exec=thc-pptp-bruter
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
