[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bluebox-ng
Comment=A GPL VoIP/UC vulnerability scanner.
Exec=bluebox-ng
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
