[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mfcuk
Comment=MIFARE Classic Universal toolKit
Exec=mfcuk
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWireless;
