[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Viproy-voipkit
Comment=VIPROY - VoIP Pen-Test Kit for Metasploit Framework
Exec=viproy-voipkit
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeExploitation;ArchStrikeFuzzer;ArchStrikeScanner;
