[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Phoss
Comment=Sniffer designed to find HTTP, FTP, LDAP, Telnet, IMAP4, VNC and POP3 logins.
Exec=phoss
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultSniffer;ArchAssaultCracker;
