[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Creepy
Comment=A geolocation information gatherer. Offers geolocation information gathering through social networking platforms.
Exec=creepy
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;ArchStrikeSocial;
