[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mdk3
Comment=WLAN penetration tool
Exec=mdk3
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWireless;ArchStrikeFuzzer;
