[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Smali
Comment=An assembler/disassembler for Android's dex format
Exec=smali
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeHardware;
