[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Grepforrfi
Comment=Simple script for parsing web logs for RFIs and Webshells v1.2
Exec=grepforrfi
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;
