[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dbpwaudit
Comment=A Java tool that allows you to perform online audits of password quality for several database engines
Exec=dbpwaudit
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultDefensive;ArchAssaultCracker;
