[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Genlist
Comment=Generates lists of IP addresses.
Exec=genlist
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeMisc;
