[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Brutessh
Comment=A simple sshd password bruteforcer using a wordlist, it's very fast for internal networks. It's multithreads.
Exec=brutessh
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
