[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Halberd
Comment=Halberd discovers HTTP load balancers. It is useful for web application security auditing and for load balancer configuration testing.
Exec=halberd
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;ArchAssaultWebapp;
