[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Secure-delete
Comment=Secure file, disk, swap, memory erasure utilities
Exec=secure-delete
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeDefensive;ArchStrikeAntiForensic;
