[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Isr-form
Comment=Simple html parsing tool that extracts all form related information and generates reports of the data. Allows for quick analyzing of data.
Exec=isr-form
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;ArchStrikeRecon;
