[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Patator
Comment=A multi-purpose bruteforcer
Exec=patator
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
