[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Scanmem
Comment=A utility used to locate the address of a variable in an executing process.
Exec=scanmem
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultReversing;
