[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Spiderfoot
Comment=The Open Source Footprinting Tool
Exec=spiderfoot
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultRecon;
