[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sulley
Comment=A pure-python fully automated and unattended fuzzing framework
Exec=sulley
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;
