[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Recoverjpeg
Comment=Recover jpegs from damaged devices
Exec=recoverjpeg
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;
