[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fport
Comment=Identify unknown open ports and their associated applications.
Exec=fport
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWindows;
