[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Cryptonark
Comment=SSL security checker
Exec=cryptonark
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCrypto;ArchStrikeFingerprint;
