[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Nfspy
Comment=A Python library for automating the falsification of NFS credentials when mounting an NFS share
Exec=nfspy
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultAutomation;
