[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Samdump2
Comment=Dump password hashes from a Windows NT/2k/XP installation
Exec=samdump2
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
