[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Flawfinder
Comment=Searches through source code for potential security flaws
Exec=flawfinder
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;ArchAssaultCodeAudit;
