[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Argtable
Comment=ANSI C command line parser
Exec=argtable
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
