[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Radare2
Comment=Open-source tools to disasm, debug, analyze and manipulate binary files
Exec=radare2
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeReversing;ArchStrikeDisassembler;ArchStrikeDebugger;
