[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Nfex
Comment=A tool for extracting files from the network in real-time or post-capture from an offline tcpdump pcap savefile. It is based off of the code-base from the apparently defunct project tcpxtract. 
Exec=nfex
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;ArchStrikeNetworking;
