[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Synscan
Comment=fast asynchronous half-open TCP portscanner
Exec=synscan
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;
