[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Darkjumper
Comment=This tool will try to find every website that host at the same server at your target
Exec=darkjumper
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;
