[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=T50
Comment=Experimental Multi-protocol Packet Injector Tool
Exec=t50
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeNetworking;ArchStrikeDos;
