[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Arpwner
Comment=A tool for arp posioning and dns poisoning attacks, written in python.
Exec=arpwner
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
