[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Python2-pefile
Comment=This is a Python library for PE file support and investigation.
Exec=python2-pefile
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
