[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pblind
Comment=Little utility to help exploiting blind sql injection vulnerabilities.
Exec=pblind
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultExploitation;
