#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Umit
GenericName=GUI Port Scanner
Exec=umit %F
Terminal=false
Icon=archstrike-menu.png
Type=Application
Categories=Application;Network;Security
Comment=A cross-platform GUI for the Nmap Security Scanner.
