[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Linenum
Comment=Scripted Local Linux Enumeration & Privilege Escalation Checks
Exec=linenum
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
