[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Smbrelay
Comment=SMB / HTTP to SMB replay attack toolkit.
Exec=smbrelay
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWindows;
