[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Netmap
Comment=Netmap can be used to make a graphical representation of the surounding network.
Exec=netmap
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeNetworking;
