[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ghost-phisher
Comment=GUI suite for phishing and penetration attacks
Exec=ghost-phisher
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
