[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xsser
Comment=A penetration testing tool for detecting and exploiting XSS vulnerabilites.
Exec=xsser
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;
