[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Notspikefile
Comment=A Linux based file format fuzzing tool
Exec=notspikefile
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultFuzzer;
