[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Notspikefile
Comment=A Linux based file format fuzzing tool
Exec=notspikefile
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;
