[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Smtp-fuzz
Comment=Simple smtp fuzzer
Exec=smtp-fuzz
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultFuzzer;
