[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Deblaze
Comment=A remote method enumeration tool for flex servers
Exec=deblaze
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;
