[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Arpoison
Comment=The UNIX arp cache update utility
Exec=arpoison
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeExploitation;ArchStrikeSpoof;
