[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ciphertest
Comment=A better SSL cipher checker using gnutls
Exec=ciphertest
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCrypto;
