[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vnak
Comment=Aim is to be the one tool a user needs to attack multiple VoIP protocols.
Exec=vnak
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeVoip;
