[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Volatility
Comment=A memory forensics toolkit
Exec=volatility
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
