[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Leo
Comment=Literate programmer's editor, outliner, and project manager
Exec=leo
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeMisc;
