[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Leo
Comment=Literate programmer's editor, outliner, and project manager
Exec=leo
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
