[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Udis86
Comment=A minimalistic disassembler library
Exec=udis86
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeReversing;
