[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dnsbf
Comment=search for available domain names in an IP range
Exec=dnsbf
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
