[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dnsbf
Comment=search for available domain names in an IP range
Exec=dnsbf
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;
