[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pipal
Comment=A password analyser
Exec=pipal
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
