[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pipal
Comment=A password analyser
Exec=pipal
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
