[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sakis3g
Comment=An all-in-one script for connecting with 3G
Exec=sakis3g
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultAutomation;ArchAssaultMisc;
