[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Grokevt
Comment=A collection of scripts built for reading Windows® NT/2K/XP/2K eventlog files.
Exec=grokevt
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;
