[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sslscan
Comment=A fast tools to scan SSL services, such as HTTPS.
Exec=sslscan
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;
