[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Suricata
Comment=An Open Source Next Generation Intrusion Detection and Prevention Engine
Exec=suricata
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
