[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Valabind
Comment=Tool to parse vala or vapi files to transform them into swig interface files, C++ source files, GIR or GEAR
Exec=valabind
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultDebugger;
