[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dotdotpwn
Comment=The Transversal Directory Fuzzer
Exec=dotdotpwn
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;ArchStrikeExploitation;
