[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fakedns
Comment=A regular-expression based python MITM DNS server with correct DNS request passthrough and \"Not Found\" responses.
Exec=fakedns
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeSpoof;ArchStrikeProxy;
