[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fuzzdiff
Comment=A simple tool designed to help out with crash analysis during fuzz testing. It selectively 'un-fuzzes' portions of a fuzzed file that is known to cause a crash, re-launches the targeted application, and sees if it still crashes.
Exec=fuzzdiff
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike" "ArchStrikeFuzzer;
