[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Canari
Comment=A transform framework for maltego
Exec=canari
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;ArchStrikeRecon;ArchStrikeScanner;
