[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rdesktop-brute
Comment=It connects to windows terminal servers - Bruteforce patch included.
Exec=rdesktop-brute
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
