[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Spade
Comment=A general-purpose Internet utility package, with some extra features to help in tracing the source of spam and other forms of Internet harassment.
Exec=spade
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWindows;
