[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mdbtools
Comment=Utilities for viewing data and exporting schema from Microsoft Access Database files
Exec=mdbtools
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;
