[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pdfid
Comment=scan a file to look for certain PDF keywords
Exec=pdfid
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
