[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Maskprocessor
Comment=A High-Performance word generator with a per-position configurable charset
Exec=maskprocessor
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
