[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Irpas
Comment=Internetwork Routing Protocol Attack Suite.
Exec=irpas
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeExploitation;
