[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Irpas
Comment=Internetwork Routing Protocol Attack Suite.
Exec=irpas
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;
