[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Canari
Comment=A transform framework for maltego
Exec=canari
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;ArchAssaultRecon;ArchAssaultScanner;
