[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ipv6toolkit
Comment=A security assessment and troubleshooting tool for the IPv6 protocols
Exec=ipv6toolkit
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
