[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wmat
Comment=Automatic tool for testing webmail accounts
Exec=wmat
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultCracker;
