[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ssldump
Comment=an SSLv3/TLS network protocol analyzer
Exec=ssldump
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeSniffer;
