[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Foremost
Comment=A console program to recover files based on their headers, footers, and internal data structures
Exec=foremost
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
