[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Haskell-iconv
Comment=Provides an interface to the POSIX iconv library functions for string encoding conversion
Exec=haskell-iconv
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
