[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Spike-proxy
Comment=A Proxy for detecting vulnerabilities in web applications
Exec=spike-proxy
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;
