[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dpscan
Comment=Drupal Vulnerabilty Scanner
Exec=dpscan
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
