[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wsfuzzer
Comment=A Python tool written to automate SOAP pentesting of web services
Exec=wsfuzzer
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultFuzzer;
