[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wsfuzzer
Comment=A Python tool written to automate SOAP pentesting of web services
Exec=wsfuzzer
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;ArchStrikeFuzzer;
