[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Backdoor-factory
Comment=Patch win32/64 binaries with shellcode
Exec=backdoor-factory
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeBinary;ArchStrikeBackdoor;
