[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Enabler
Comment=attempts to find the enable password on a cisco system via brute force.
Exec=enabler
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
