[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Smtpscan
Comment=An SMTP scanner
Exec=smtpscan
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultFingerprint;
