[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Blindsql
Comment=Set of bash scripts for blind SQL injection attacks
Exec=blindsql
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultDatabase;
