[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Nfsshell
Comment=Userland NFS command tool.
Exec=nfsshell
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultAutomation;ArchAssaultNetworking;
