[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Subdomainer
Comment=A tool designed for obtaining subdomain names from public sources.
Exec=subdomainer
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultRecon;ArchAssaultScanner;
