[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mfoc
Comment=Mifare Classic Offline Cracker
Exec=mfoc
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWireless;ArchStrikeCracker;
