[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Davtest
Comment=Tests WebDAV enabled servers by uploading test executable files, and then (optionally) uploading files which allow for command execution or other actions directly on the target
Exec=davtest
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
