[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Gwtenum
Comment=Enumeration of GWT-RCP method calls.
Exec=gwtenum
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultRecon;
