[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sslstrip
Comment=Transparently hijack http traffic on a network, watch for https links and redirects, then map those links
Exec=sslstrip
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeNetworking;
