[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Airflood
Comment=A modification of aireplay that allows for a DOS in in the AP. This program fills the table of clients of the AP with random MACs doing impossible new connections.
Exec=airflood
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWireless;
