[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MissionPlanner
Comment=A GroundControl Station for Ardupilot
Exec=missionplanner
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeDrone;
