[Unit]
Description=The FireWall KNock OPerator (fwknop)
After=network.target iptables.service ip6tables.service

[Service]
Type=forking
ExecStart=/usr/sbin/fwknopd

[Install]
WantedBy=multi-user.target
