[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Cdpsnarf
Comment=Cisco discovery protocol sniffer
Exec=cdpsnarf
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultSniffer;
