[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sysinternals-suite
Comment=Sysinternals tools suite
Exec=sysinternals-suite
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWindows;
