[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fang
Comment=A multi service threaded MD5 cracker
Exec=fang
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
