[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Python2-flickrapi
Comment=The official Python interface to the Flickr API
Exec=python2-flickrapi
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
