[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ent
Comment=Pseudorandom number sequence test.
Exec=ent
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeMisc;
