[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Cymothoa
Comment=A stealth backdooring tool, that inject backdoor's shellcode into an existing process.
Exec=cymothoa
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultBackdoor;
