[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pastenum
Comment=Search Pastebins for content, fork from nullthreat corelan pastenum2
Exec=pastenum
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultRecon;
