[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tor-autocircuit
Comment=Tor Autocircuit was developed to give users a finer control over Tor circuit creation. The tool exposes the functionality of TorCtl library which allows its users to control circuit length, speed, geolocation, and other parameters.
Exec=tor-autocircuit
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeDefensive;
