[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tftp-bruteforce
Comment=TFTP-bruteforcer is a fast TFTP filename bruteforcer written in perl.
Exec=tftp-bruteforce
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
