[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Libbtbb
Comment=A library to decode Bluetooth baseband packets, as produced by the Ubertooth and GR-Bluetooth projects.
Exec=libbtbb
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
