[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ikeprober
Comment=Tool crafting IKE initiator packets and allowing many options to be manually set. Useful to find overflows, error conditions and identifiyng vendors
Exec=ikeprober
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultFuzzer;
