[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Iaxflood
Comment=IAX flooder.
Exec=iaxflood
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeDos;ArchStrikeVoip;
