[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Superscan
Comment=Powerful TCP port scanner, pinger, resolver.
Exec=superscan
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWindows;
