[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Python2-netaddr
Comment=A pure Python network address representation and manipulation library
Exec=python2-netaddr
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;Network;
