[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pack
Comment=Password Analysis and Cracking Kit
Exec=pack
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
