[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dumpacl
Comment=Dumps NTs ACLs and audit settings.
Exec=dumpacl
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWindows;
