[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Carwhisperer
Comment=The carwhisperer project intends to sensibilise manufacturers of carkits and other Bluetooth appliances without display and keyboard for the possible security threat evolving from the use of standard passkeys.
Exec=carwhisperer
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeBluetooth;
