[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bulk-extractor
Comment=Bulk Email and URL extraction tool
Exec=bulk-extractor
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;ArchAssaultMisc;
