[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Js-beautify
Comment=This little beautifier will reformat and reindent bookmarklets, ugly JavaScript, unpack scripts packed by Dean Edward?s popular packer, as well as deobfuscate scripts processed by javascriptobfuscator.com.
Exec=js-beautify
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultReversing;ArchAssaultUnpacker;
