[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Browser-fuzzer
Comment=Browser Fuzzer 3
Exec=browser-fuzzer
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;
