[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Udptunnel
Comment=Tunnels TCP over UDP packets.
Exec=udptunnel
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeTunnel;ArchStrikeNetworking;
