[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bully
Comment=A wifi-protected-setup (WPS) brute force attack tool.
Exec=bully
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;ArchStrikeWireless;
