[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Reglookup
Comment=Command line utility for reading and querying Windows NT registries
Exec=reglookup
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;
