[Desktop Entry]
Type=Application
Version=1.0
Name=VeraCrypt
Comment=Disk encryption software
Exec=veracrypt
Icon=veracrypt
Terminal=false
StartupNotify=true
Categories=ArchAssault;ArchAssaultCryptography;
