[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ipba2
Comment=IOS Backup Analyzer
Exec=ipba2
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
