[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Csrftester
Comment=The OWASP CSRFTester Project attempts to give developers the ability to test their applications for CSRF flaws.
Exec=csrftester
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;
