[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sipscan
Comment=A sip scanner.
Exec=sipscan
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWindows;
