[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mbenum
Comment=Queries the master browser for whatever information it has registered.
Exec=mbenum
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWindows;
