[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Cirt-fuzzer
Comment=A simple TCP/UDP protocol fuzzer.
Exec=cirt-fuzzer
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;
