[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Thc-ipv6
Comment=A complete tool set to attack the inherent protocol weaknesses of IPv6 and ICMP6, and includes an easy to use packet factory library.
Exec=thc-ipv6
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;ArchAssaultDos;ArchAssaultNetworking;
