[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Make-pdf
Comment=This tool will embed javascript inside a PDF document
Exec=make-pdf
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
