[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Webenum
Comment=Tool to enumerate http responses using dynamically generated queries and more. Useful for penetration tests against web servers.
Exec=webenum
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;ArchStrikeScanner;
