[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Goofile
Comment=Command line filetype search
Exec=goofile
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeRecon;
