[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Cisco-torch
Comment=Cisco Torch mass scanning, fingerprinting, and exploitation tool.
Exec=cisco-torch
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;ArchStrikeFingerprint;ArchStrikeExploitation;
