[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Geoedge
Comment=This little tools is designed to get geolocalization information of a host, it get the information from two sources (maxmind and geoiptool).
Exec=geoedge
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeMisc;
