[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ipaudit
Comment=IPAudit monitors network activity on a network.
Exec=ipaudit
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultNetworking;
