[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hashcat
Comment=A multithreaded cross platform hash cracker.
Exec=hashcat
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
