[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hashcat
Comment=A multithreaded cross platform hash cracker.
Exec=hashcat
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
