[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Aimage
Comment=A program to create aff-images.
Exec=aimage
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
