[Desktop Entry]
Name=x3270
Comment=An IBM 3270 terminal emulator for the X Window System
Icon=/usr/share/pixmaps/x3270-icon2.xpm
Exec=/usr/bin/x3270
Terminal=false
Type=Application
Categories=Application;Utility;
