[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Python2-pynids
Comment=A Python wrapper for libnids.
Exec=python2-pynids
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
