[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sipcrack
Comment=A SIP protocol login cracker.
Exec=sipcrack
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;ArchAssaultVoip;
