[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Arpoison
Comment=The UNIX arp cache update utility
Exec=arpoison
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;ArchAssaultSpoof;
