[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Shellcodecs
Comment=A collection of shellcode, loaders, sources, and generators provided with documentation designed to ease the exploitation and shellcode programming process.
Exec=shellcodecs
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;
