[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Webslayer
Comment=A tool designed for brute forcing Web Applications
Exec=webslayer
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;
