[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rfidiot
Comment=An open source python library for exploring RFID devices.
Exec=rfidiot
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWireless;
