[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rfidiot
Comment=An open source python library for exploring RFID devices.
Exec=rfidiot
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWireless;
