[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Nipper
Comment=Network Infrastructure Parser
Exec=nipper
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeRecon;ArchStrikeNetworking;
