[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Evilmaid
Comment=TrueCrypt loader backdoor to sniff volume password
Exec=evilmaid
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
