[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xorsearch
Comment=Program to search for a given string in an XOR, ROL or ROT encoded binary file.
Exec=xorsearch
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCrypto;
