[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ohrwurm
Comment=A small and simple RTP fuzzer
Exec=ohrwurm
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeFuzzer;
