[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Safecopy
Comment=A disk data recovery tool to extract data from damaged media
Exec=safecopy
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;
