[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Impacket
Comment=Collection of Python2 classes focused on providing access to network packets
Exec=impacket
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;Network;
