[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bss
Comment=Bluetooth stack smasher / fuzzer
Exec=bss
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeBluetooth;ArchStrikeScanner;ArchStrikeFuzzer;
