[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bss
Comment=Bluetooth stack smasher / fuzzer
Exec=bss
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultBluetooth;ArchAssaultScanner;ArchAssaultFuzzer;
