[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pblind
Comment=Little utility to help exploiting blind sql injection vulnerabilities.
Exec=pblind
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;ArchStrikeExploitation;
