[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sfuzz
Comment=Simple Fuzzer is a simple fuzzer
Exec=sfuzz
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultFuzzer;
