[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Teardown
Comment=Command line tool to send a BYE request to tear down a call.
Exec=teardown
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeVoip;
