[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Tcpxtract
Comment=tcpxtract is a tool for extracting files from network traffic
Exec=tcpxtract
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeMisc;
