[Desktop Entry]
Encoding=UTF-8
Name=Dissy
Comment=Disasseble object files
Exec=dissy
Icon=dissy
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
