[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Python2-pyexiv2
Comment=A python binding to exiv2
Exec=python2-pyexiv2
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
