[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dnsmap
Comment=Passive DNS network mapper
Exec=dnsmap
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultFingerprint;
