[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hotspotter
Comment=Hotspotter passively monitors the network for probe request frames to identify the preferred networks of Windows XP clients, and will compare it to a supplied list of common hotspot network names.
Exec=hotspotter
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWireless;
