[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Metacoretex
Comment=MetaCoretex is an entirely JAVA vulnerability scanning framework for databases.
Exec=metacoretex
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultDatabase;
