[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Orbited
Comment=A browser(javascript)->tcp bridge; Comet is used to emulate TCP connections in the browser; Allows you to connect a web browser directly to an IRC or XMPP server, for instance.
Exec=orbited
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;Network;
