[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rsmangler
Comment=rsmangler takes a wordlist and mangle it
Exec=rsmangler
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeAutomation;
