[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pythonect
Comment=A general-purpose dataflow programming language written in Python
Exec=pythonect
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;Development;
