[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pyinstaller
Comment=A program that converts (packages) Python programs into stand-alone executables, under Windows, Linux, Mac OS X, Solaris and AIX.
Exec=pyinstaller
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
