[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Lightblue
Comment=A cross-platform Bluetooth API for Python which provides simple access to Bluetooth operations
Exec=lightblue
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
