[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Rootbrute
Comment=Local root bruteforcer.
Exec=rootbrute
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
