[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mutator
Comment=A tool for arp posioning and dns poisoning attacks, written in python.
Exec=mutator
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWordlists;
