[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Skipfish
Comment=A fully automated, active web application security reconnaissance tool
Exec=skipfish
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;ArchStrikeScanner;ArchStrikeFuzzer;
