[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Recstudio
Comment=Cross platform interactive decompiler
Exec=recstudio
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeReversing;ArchStrikeDecompiler;
