[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xortool
Comment=A tool to analyze multi-byte xor cipher.
Exec=xortool
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCrypto;
