[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=G72x
Comment=Decoder for the g72x++ codec.
Exec=g72x
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWireless;
