[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sqlsus
Comment=An open source MySQL injection and takeover tool, written in perl
Exec=sqlsus
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWebapp;ArchStrikeExploitation;
