[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hashtag
Comment=A python script written to parse and identify password hashes.
Exec=hashtag
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
