[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Panoptic
Comment=A tool that automates the process of search and retrieval of content for common log and config files through LFI vulnerability
Exec=panoptic
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeAutomation;
