[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ssh-privkey-crack
Comment=A SSH private key cracker
Exec=ssh-privkey-crack
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
