[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Redfang
Comment=Finds non-discoverable Bluetooth devices by brute-forcing the last six bytes of the devices' Bluetooth addresses and calling read_remote_name().
Exec=redfang
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultBluetooth;ArchAssaultScanner;
