[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Phrasendrescher
Comment=A modular and multi processing pass phrase cracking tool
Exec=phrasendrescher
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
