[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fakemail
Comment=Fake mail server that captures e-mails as files for acceptance testing.
Exec=fakemail
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
