[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Darkmysqli
Comment=Multi-Purpose MySQL Injection Tool
Exec=darkmysqli
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultExploitation;
