[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Ikeprobe
Comment=Determine vulnerabilities in the PSK implementation of the VPN server.
Exec=ikeprobe
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWindows;
