[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Halcyon
Comment=A repository crawler that runs checksums for static files found within a given git repository.
Exec=halcyon
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultRecon;
