[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sctpscan
Comment=A network scanner for discovery and security
Exec=sctpscan
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;ArchStrikeRecon;
