[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Mdk3
Comment=WLAN penetration tool
Exec=mdk3
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWireless;ArchAssaultFuzzer;
