[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Firmware-mod-kit
Comment= Modify firmware images without recompiling!
Exec=firmware-mod-kit
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
