[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Iaxflood
Comment=IAX flooder.
Exec=iaxflood
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultDos;ArchAssaultVoip;
