[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pytacle
Comment=Automates the task of sniffing GSM frames
Exec=pytacle
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeSniffer;
