[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hashcat-utils
Comment=Utilites for Hashcat
Exec=hashcat-utils
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
