[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pyrit
Comment=WPA/WPA2-PSK attacking with gpu and cluster
Exec=pyrit
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;ArchAssaultWireless;
