[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wfuzz
Comment=Utility to bruteforce web applications to find their not linked resources
Exec=wfuzz
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultFuzzer;
