[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sandy
Comment=An open-source Samsung phone encryption assessment framework.
Exec=sandy
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
