[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vivisect
Comment=Vivisect is a Python based static analysis and reverse engineering framework, Vdb is a Python based research/reversing focused debugger and programatic debugging API by invisigoth of kenshoto
Exec=vivisect
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultDebugger;ArchAssaultReversing;ArchAssaultDisassembler;
