[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Smbbf
Comment=SMB password bruteforcer.
Exec=smbbf
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
