[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sniffjoke
Comment=Injects packets in the transmission flow that are able to seriously disturb passive analysis like sniffing, interception and low level information theft
Exec=sniffjoke
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeDefensive;
