[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wiffy
Comment=An Automated wifi hacking script
Exec=wiffy
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWireless;ArchAssaultAutomation;
