## Main Wiffy Settings ##
mode=" " #[ /crack/dos/inject/karma/decode/table] What do you want to do today?
interface="wlan0" #[Interface] Which interface to use
macMode="random" #[random/set/false/client] Configure the MAC address
fakeMac="00:05:7c:9a:58:3f" #[MAC] Set MAC address if macMode is "set"
wpaMethod="wordlist" # [wordlist/brute] Use an existing wordlist or generate one on-the-fly
wpaSoftware="aircrack-ng" # [aircrack-ng/cowpatty/pyrit] Which software to use?
connect="false" #[true/false] Connect to network after cracking key?
keepCap="true" #[true/false] Keep captured cap's?
benchmark="true" #[true/false] Attempt to generate an ETA by testing the system performance.
timeAP="20" #[Seconds] How long to wait for the access point? Longer = greater chance of success
timeClient="10" #[Seconds] How long to wait for the client? Longer = greater chance of success (0 = wait forever)
timeWEP="180" #[Seconds] How long to wait for WEP? Longer = greater chance of success
loopWPA="3" #[Seconds] How long to wait for WPA? Longer = greater chance of success (0 = wait forever)

## Location Config ##
capFolder="${PWD}/cap/" #[/path/to/file] Location of captures
decodeFolder="${PWD}/cap/" #[/path/to/file] Location of decodes
wordlist="/etc/pentest/wordlists/" #[/path/to/file] Location of wordlists

## Variables ##
attackMethod="ap" #[ap/apless/clone] Attack method
crackMethod="online" #[online/offline] Do we need to capture new?
displayMore="false" #[true/false] Gives more details on what's happening
diagnostics="false" #[true/false] Creates a output file displays exactly what's going on
quiet="false" #[true/false] If true, it doesn't use xterm - just uses the one output window
verbose="0" #[0/1/2] Shows more info. 0=normal, 1=more, 2=more+commands
debug="false" #[true/false] Doesn't delete files, shows more on screen etc.
logFile="/var/log/wiffy.log" #[/path/to/file] Filename of output
