[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Cupp
Comment=Common User Password Profiler
Exec=cupp
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
