[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Padbuster
Comment=Automated script for performing Padding Oracle attacks
Exec=padbuster
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeExploitation;
