[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sqlbrute
Comment=Brute forces data out of databases using blind SQL injection.
Exec=sqlbrute
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWebapp;ArchAssaultFuzzer;
