[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Python2-esmre
Comment=Modules used to accelerate execution of a large collection of regular expressions using the Aho-Corasick algorithms
Exec=python2-esmre
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
