[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Fierce
Comment=A DNS scanner
Exec=fierce
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
