[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Statsprocessor
Comment=A high-performance word-generator based on per-position Markov-attack
Exec=statsprocessor
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
