[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Medusa
Comment=A speedy, massively parallel, modular, login brute-forcer for network 
Exec=medusa
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
