[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Jdk
Comment=Java Development Kit
Exec=jdk
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
