[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=John
Comment=John The Ripper - A fast password cracker (jumbo-$_jumbover included)
Exec=john
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
