[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Eindeutig
Comment=Examine the contents of Outlook Express DBX email repository files (forensic purposes)
Exec=eindeutig
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
