[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Armitage
Comment=A graphical cyber attack management tool for Metasploit
Exec=armitage
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;
