[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Allthevhosts
Comment=A vhost discovery tool that scrapes various web applications
Exec=allthevhosts
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeScanner;ArchStrikeWebapp;
