[Desktop Entry]
Type=Application
Version=1.0
Name=Pev
Comment=Command line based tool for PE32/PE32+ file analysis
Exec=sh -c '/usr/bin/pacman -Ql pev | grep -v '/usr/lib' | grep -v '/usr/share/applications' | grep -v -e '/$'; ${SHELL:-bash}'
Icon=archstrike
Terminal=true
Categories=ArchStrike;ArchStrikeForensic;ArchStrikeReversing;
