[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vinetto
Comment=A forensics tool to examine Thumbs.db files
Exec=vinetto
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeForensic;
