[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Vinetto
Comment=A forensics tool to examine Thumbs.db files
Exec=vinetto
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultForensic;
