[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Blackhash
Comment=Creates a filter from system hashes
Exec=blackhash
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeCracker;
