[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Jsql
Comment=A lightweight application used to find database information from a distant server.
Exec=jsql
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
