[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Airoscript
Comment=Script to simplify the use of aircrack-ng tools
Exec=airoscript
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWireless;
