[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bob-the-butcher
Comment=A distributed password cracker package.
Exec=bob-the-butcher
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultCracker;
