[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Batctl
Comment=B.A.T.M.A.N. advanced control and management tool
Exec=batctl
Icon=archstrike-menu.png
Terminal=false
StartupNotify=false
Categories=ArchStrike;ArchStrikeWireless;
