[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Batctl
Comment=B.A.T.M.A.N. advanced control and management tool
Exec=batctl
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultWireless;
