[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Airgraph-ng
Comment=Graphing tool for the aircrack suite
Exec=airgraph-ng
Icon=projectname-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultMisc;
